*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #8f8787ad;

}
h3{
  font: 100;
  font-size: 30px;
  position: fixed;
  right: -8%;
  top: 40%;
  transform: rotate(-90deg);
}
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .page1 {
    width: 100vw;
    padding: 0 2vmax;
    margin-top: 10vh;
  }
  .page1 > h1 {
    font-size: 40px;
    font-family: gillroy;
  box-shadow: 2px 3px 10px 5px rgb(107, 94, 94);
  }
  a{
    color:rgba(16, 16, 223, 0.603);
    text-decoration: none;
    transition: .5s all;
  }  
  .myname {
    color: #000000;
  }  
  .resume-btn {
    box-shadow: 10px 20px 20px 0px rgb(190, 149, 149);
    position: fixed;
    right: 2vmax;
    top: 1vmax;
    z-index: 1111;
    padding: .9vmax 1.5vmax;
    border-radius: 5vmax;
    border: none;
    color: rgb(235, 229, 229);
    font: 3000 1vmax "GIl";
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2vmax #d67075;
    background: linear-gradient(to right, #e6d5d6, #eec5c8);
    transition: 1s all;
  }
img{
  width:150%;
  
  position: relative;
  left: 20%;
  height: 80%;
}
.abcd{
  gap: 20px;
  display: flex;
}
  .page2 {
    width: 100vw;
    min-height:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vmax;
    height: 3vw;
    position: relative;
  }

  .page2 > h1 {
    font: 400 4vmax "Gil";
    text-align: center;
    width: 55vw;
  }
  .minimal {
    font-family: "Mont";
    color: #4d3637;
  }
  .page2 > p {
    font: 500 1.2vmax "Gil";
    box-shadow: 1px 1px 5px 0px rgb(75, 66, 66);
    text-align: center;
    height: 3vw;
    margin: 8vmax 0;
    width: 50vw;
  }
  .page2-btns {
  
    display: flex;
  }
  .page2-btns > button:first-of-type {
    width: 150px;
    box-shadow: 0 0 1vmax #8fd6e6;
    background: linear-gradient(to left, #f2f6f7, rgb(246, 249, 250));
    margin-right: 5vmax;
    margin-top: 5px;
  }
  .page2-btns > button:last-of-type {
    margin-top: 5px;
    box-shadow: 0 0 2vmax #FC626A;
    background: linear-gradient(to right, #fca0a5, #f3a1a5);
  }
  .page3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vmax 5vmax;
  }.page3-title {
    font: 500 3vmax "Gil";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1vmax;
    color: #351a1a;
  }
  .page3 > p {
    font: 400 1.2vmax "Gil";
    color: rgb(97, 96, 96);
    margin-bottom: 5vmax;
  }.page4 {
    width: 100vw;
    height: 20vh;
    padding: 0 5vmax;
  }
  .page4-title {
    font: 500 3vmax "Gil";
    display: flex;
    align-items: center;
    margin-bottom: 1vmax;
    color: #4e4e4e;
  }.love {
    color: #FC626A;

  } .page4-title > hr {
    margin-left: 2vmax;
    width: 5vmax;
    height: 0.1vmax;
    background-color: rgb(204, 202, 202);
    border: none;
  }.page4 > p {
    font: 400 1.2vmax "Gil";
    color: rgb(97, 96, 96);
    margin-bottom: 5vmax;
  }.image-wrapper {
    display: flex;
    justify-content: space-between;
  }.image-wrapper img {
    display: flex;
    width: 23vmax;
    margin-bottom: 2vmax;
  }.image-wrapper img {
    display: flex;
    width: 23vmax;
    margin-bottom: 2vmax;
  }.artwork {
    color: #FC626A;
  }.page5 {
    width: 100vw;
    height: 35vh;
    padding: 0 2vmax;
    margin-top: 10vh;
    background-color: #414040;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .instagram {
    color: #F6BA53;
  }.linkedin {
    color: #51CDE7;
  }.mail {
    color: #FC626A;
  }.dev-box {
    width: 70vw !important;
    transform: translate(8%, -30%);
  }
  .box > img {
    position: relative;
    top: 20px;
    left: 100px;
    margin-left: 50px;
    height: 4vmax;
    width: 4vmax;
  }       
  .page3 .heading {
    font: 500 5vmax "Gil";
    color: #5D5D5D;
    position: relative;
    z-index: 1;
               }             .dev-box {
    width: 70vw !important;
    transform: translate(8%, -30%);
  }footer > img {
    position: relative;
    left: 22%;
    width: 5vmax;
    /* margin: 0 .5vmax; */
  }footer {
    display: flex;
    align-items: center;
    padding: 2vmax 0;
    font-family: "Mont";
    font-size: 2.2vmax;
    font: normal 2.2vmax "Mont";
  }
  .author {
    left: 58%;
    position: absolute;
    font: normal 3vmax "Sha";
  }
  .page5 > h1 {position: absolute;
  top: 170%;
  left: 5%;
    font: 200 4vmax "Gil";
  }
  @media ( max-width:500px){
    .page1>h1{
      font-size: 14px;
    }
    .page2 > h1 {
      font: 380 3vmax "Gil";
      text-align: center;
      width: 44vw;
  }
  .page2 > p {
    font: 500 2.2vmax "Gil";
    box-shadow: 1px 1px 5px 0px rgb(75, 66, 66);
    text-align: center;
    height: 16vw;
    margin: 14vmax 0;
    width: 70vw;
}
.page3-title {
  font: 500 6vmax "Gil";
margin-top: 10vmax;}
  .page3 > p {
    font: 400 3.2vmax "Gil";}
    .page5 > h1 {
      position: absolute;
      top: 170%;
      left: 5%;
      font: 200 4vmax "Gil";
  }

  }
